.countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  input {
    padding: 15px;
    width: 140px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    appearance: textfield;
    margin-bottom: 30px;
  }
  
  .controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .countdown-timer {
    font-size: 40px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-right: 15px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #3498db;
    position: absolute;
    bottom: 0;
  }